!!!
%html{ 'ng-app' => 'coinapp' }
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Coinapp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Coinapp'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body.ng-cloak{ ng_controller: "SessionsCtrl" }
    .container
      = render 'layouts/header'

      .main{ ng_show: "activateMain" }
        .logged-out{ ng_if: "!currentUser.id" }
          = render 'layouts/logged_out'
        .logged-in{ ng_controller: "UserCtrl", ng_if: "currentUser.id" }
          = yield

      = render 'layouts/footer'
